@import url("../../index.css");

.TESTBORDER {
  display: flex;
  /* border: 2px solid red; */
  /* margin-right: 50px; */
  position: absolute;
  /* padding: 40px 40px 0 40px; */
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
}

.home {
  /* width: 95vw; */
  /* width: 100% !important; */
  width: 100vw;
  height: 100vh;
  /* outline: 2px solid green; */
  padding: 40px;
}

.animation {
  top: 0;
  left: 0;
  color: var(--primary-blue);
  height: 100vh;
}
.welcome {
  height: 100%;
  width: 100%;
  font-size: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}

.h1 {
  font-size: 100px;
  font-family: var(--font-primary);
  font-weight: bold;
}

.hello {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}
