@import url('../../index.css');

.tvDiv {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: calc(100vh - var(--nav-height, 80px)); /* Adjust based on your nav bar height */
  box-sizing: border-box;
}
.tvScreenOuter,
.tvScreenInner,
.tvSidePanel,
.topDials,
.dial,
.midButtons,
.grillsDiv,
.grill {
  display: flex;
  flex-direction: column;
}

/* .tv-screen-outer {
    border-radius: 20px;
    border: 1px solid var(--primary-blue);
    width: 80%;
    height: 600px;
    padding: 20px;
}

.tv-screen-inner {
    
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-blue);
} */

.tvScreenOuter {
  border-radius: 0;
  background-color: var(--neutral-black);
  border: none;
  border-top: 1px solid var(--primary-blue);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.tvScreenInner {
  border: 1px solid var(--primary-blue);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.tvSidePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;

  /* border: 1px solid var(--primary-blue); */
  border: 1px solid var(--neutral-white);
  background-color: var(--neutral-black);
  width: 200px;
  min-height: 100%;
  border-radius: 10px;
  gap: 40px;
  /* gap: 10px; */
}

.topDials {
  gap: 10px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.dial {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 1px solid var(--neutral-white);
  /* border: 1px solid var(--primary-blue); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primary-blue); */
}

.dial .buttonSvg {
  color: var(--primary-blue);
}

.midButtonsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 2px solid red; */
  width: 100%;
}

.midButtonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.midButtons {
  border: 1px solid var(--primary-blue);
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.icon {
  width: 305px;
  height: 305px;
}

.grillsDiv {
  gap: 10px;
  margin-bottom: 20px;
}

.grill {
  width: 125px;
  /* width: 100%; */
  height: 1px;
  border-radius: 5px;
  background-color: var(--neutral-white);
  /* border: 1px solid var(--primary-blue); */
}

/* .tv {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-blue);
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    margin-left: 0;
    padding: 0 !important;
    border: 2px solid red;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .tv * {
    display: flex;
} */

/* .tv-screen-outer { */
/* border: 2px solid red; */
/* var(--neutral-white); */
/* } */

@media screen and (max-width: 768px) {
}
