@import url('../../../index.css');

.galleryPage {
  /* border: 2px solid red; */
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  color: var(--primary-blue);
  pointer-events: none;
  text-align: center;
}
