@import url("../../index.css");

.card {
  margin: 20px;
  display: flex;
  background-color: var(--neutral-white);
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-front {
  /* border: 2px red solid; */
  width: 200px;
  box-sizing: border-box;
  flex-shrink: 0;
  /* padding: 10px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding: 20px; */
}

.card-front .icon-div {
  /* border: 2px blue solid; */
  width: auto;
  height: auto;
}

/* .icon {
  width: 100px;
  height: 100px;
} */

.title {
  display: flex;
  /* border: 2px blue solid; */
  justify-content: center;
  text-decoration: none !important;
}

.card-pullout {
  /* border: 2px green solid; */
  width: 0;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    flex-basis 0.3s ease;
  pointer-events: none;
  box-sizing: border-box;
  margin: 15px;
  /* padding: 15px; */

  /* 15px; */
  font-style: italic;

  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.card-pullout.fading-out {
  flex-basis: 270px;
  opacity: 0;
  pointer-events: none;
  /* padding: 10px; */
}

.card-pullout.visible {
  flex-basis: 270px;
  opacity: 1;
  pointer-events: auto;
  /* padding: 10px; */
}

/* --------------------- MOBILE STYLING --------------------- */
@media screen and (max-width: 768px) {
  .card {
    margin: 20px;
    display: flex;
    background-color: var(--neutral-white);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  }

  .card-front {
    width: 150px;
    box-sizing: border-box;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
  }

  .card-pullout {
    width: 0;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      flex-basis 0.3s ease;
    pointer-events: none;
    box-sizing: border-box;
    margin: 15px;
    font-style: italic;

    overflow: hidden;
  }

  .card-pullout.fading-out {
    flex-basis: 270px;
    opacity: 0;
    pointer-events: none;
  }

  .card-pullout.visible {
    flex-basis: 270px;
    opacity: 1;
    pointer-events: auto;
  }
}
