@import url("../../index.css");

.nav-bar {
  position: fixed;
  border-radius: 10px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 1000;
  border: 1px var(--primary-blue) solid;
  display: flex;
  justify-content: space-around;
  /* padding: 5px 10px; */
  background-color: var(--neutral-white);
}

.nav-bar .nav-item {
  display: flex;
  justify-content: center;
  padding: 5px 16px;
  width: 100%;
  height: 100%;
  cursor: url("/cursor.svg"), auto;
}

.nav-bar a {
  position: relative;
  text-decoration: none;
  color: var(--primary-blue);
  padding: 0 12px;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  cursor: url("/cursor.svg"), auto;
  /* border: red 2px solid; */
}

.nav-bar .nav-item:not(:first-child) {
  border-left: 1px solid var(--primary-blue);
}
/* .nav-bar .nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: var(--primary-blue);
} */

/* .app-bar {
    border-bottom: 1px var(--primary-blue) solid;
    box-shadow: none;
}

.app-container {
    background-color: var(--neutral-white);
    box-shadow: none ;
    flex-direction: row;

}

.toolbar {
    box-shadow: none;
    border-radius: 25px;
}

.box {
    box-shadow: none;
    border-radius: 25px;
}

.button {
    color: var(--primary-blue);
    border-radius: 25px;
    border: 1px var(--primary-blue) solid;
    background-color: var(--neutral-white);
}

.button:hover {
    background-color: var(--neutral-white);
    border: 1px var(--primary-blue) solid;
    border-radius: 25px;
    padding: 5px 10px;
} */
