@import url('../../index.css');

.nav-bar {
  position: fixed;
  border-radius: 10px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 1000;
  border: 1px var(--primary-blue) solid;
  border: 1px var(--neutral-white) solid;
  display: flex;
  justify-content: space-around;
  /* padding: 5px 10px; */
  background-color: var(--neutral-black);
}

.nav-bar .nav-item {
  cursor: pointer;
  display: flex;
  color: var(--neutral-white);
  font-family: var(--font-secondary);
  font-weight: 800;
  font-style: italic;
  justify-content: center;
  padding: 5px 16px;
  width: 100%;
  height: 100%;
}

.nav-bar a {
  position: relative;
  text-decoration: none;
  color: var(--primary-blue);
  padding: 0 12px;
  /* background-color: red; */
  width: 100%;
  height: 100%;

  /* border: red 2px solid; */
}

.nav-bar .nav-item:not(:first-child) {
  border-left: 1px solid var(--neutral-white);
}
