@import url('../../../index.css');

.helloPage,
.helloDiv,
.title,
.subtitle {
  display: flex;
  flex-direction: column;
}

.helloPage {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 25px;
}

.header {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.helloDiv {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  display: inline-flex;
}

/* .helloDiv {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid blue;
  height: auto;
} */

/* .background {
  position: absolute;
  inset: 0;
  border: 2px solid red;
  font-family: var(--font-secondary);
  color: var(--primary-blue);
  font-size: 16px;
} */

.title {
  /* border: 2px solid red; */
  width: fit-content;
  height: auto;
  display: inline-block;
}

.hello {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 60px;
  /* font-weight: 400; */
  font-weight: 800;
  color: var(--primary-blue);
  /* border: 2px solid red; */
  width: fit-content;
  margin: 0;
}

.hello span {
  text-decoration: underline;
}

.subtitle {
  font-family: var(--font-secondary);
  margin: 0;
  width: 100%;
  /* display: block; */
  justify-content: flex-end;
  align-items: flex-end;
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-blue);
}

.background {
  /* width: max-content; fit its own text first */
  margin: 0;
  margin-top: 40px;
  width: min-content;
  font-family: var(--font-secondary);
  color: var(--primary-blue);
  /* width: 100%; */
  /* display: inline-block;
  border: 2px solid red;
  font-family: var(--font-secondary);
  color: var(--primary-blue);
  font-size: 16px;
  text-wrap: inherit; */
  width: 100%; /* fill the same inline-block width */
  display: block;
  text-wrap: wrap;
}

.interestsDiv {
  /* border: 2px solid blue; */
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  /* border: 2px solid blue; */
}

.interestsDiv :global(.class-node) {
  color: var(--neutral-black) !important;
  border-color: var(--neutral-black) !important;
}

.interestsDiv :global(.class-node) :global(a) {
  color: var(--neutral-black) !important;
}

.interestsDiv :global(a) {
  color: var(--neutral-black) !important;
}

/* .interestsDiv .row {
  display: flex;
  gap: 16px;
} */
