/* importing fonts from Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Literata');

:root {
  --neutral-white: #fbf6f3;
  --neutral-white-cursor: rgba(251, 246, 243, 0.5);
  --neutral-black: #1f1e1e;

  --primary-blue: #1f1e1e;
  /* --primary-blue: #1a53e6; */
  --primary-blue-cursor: rgba(26, 83, 230, 0.5);

  --secondary-green: #098b3b;
  --secondary-green-cursor: rgba(9, 139, 59, 0.5);
  --font-primary: 'Literata', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --line-height-normal: normal;
  --line-height-expanded: 150%;

  --desktop-margin-primary: 80px;
  --desktop-margin-secondary: 50px;
}

/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  cursor: url('/cursor-hover.svg'), auto;
  margin: 0;
  background-color: var(--neutral-white);
  /* background-color: #008000; */
  font-family: Literata, sans-serif;
  line-height: normal; /* 1.2-1.5 depending on the broswer */
  font-weight: normal; /* 400 */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* cursor: url("public/cursor.svg"), auto; */
}

.display-title-1 {
  font-size: 100px;
  font-weight: 700;
  color: var(--primary-blue);
}

.project-title-1 {
  font-size: 35px;
  font-weight: 700;
}

.project-subtitle-1 {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  /* font-style: italic; */
}

.project-subtitle-2 {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.project-body-1 {
  font-size: 16px;
  font-weight: 400;
}

/*

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/
