@import url('../../../index.css');

.galleryPage {
  /* border: 2px solid red; */
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  color: var(--primary-blue);
  pointer-events: none;
  text-align: center;
}

.name {
  color: white;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
  /* color: var(--primary-blue); */
  font-family: var(--font-secondary);
  font-style: italic;
  pointer-events: none;
  text-align: center;
  font-size: 150px;
  font-weight: 800;
}
